html, body {background-color: #fff; font-family: Tahoma , Geneva, sans-serif; font-size: 12px; color: #191b00}
a {text-decoration: underline; color: #69ab00;}
a:visited {text-decoration: underline; color: #666;}
a:hover {text-decoration: none; background-color: #69ab00; color: #ffff22;}

h2 {font-size: 30px;}

#continut {width: 700px; margin: 50px auto;}
#cap {height: 150px; background: url("/img/flosscamp.png") no-repeat top left;}
#cap h1 {margin-left:150px; padding-top: 0px;}
#cap h1 a {text-decoration: none; color: #69ab00;}
#cap hi a:visited {color: #69ab00;}
#cap h1 a:hover {text-decoration: none; background-color: #fff; color: #69ab00;}
#cap h3 {margin: 0px 0 0 150px;}

#gat {border: 1px solid #69ab00;}
#gat ul {font-size: 12px; font-weight: bolder;}
#gat ul li {display: inline; padding: 5px 10px;}

#corp {padding: 20px;}
#corp h1 {font-size: 18px;}
#corp p img, #corp p a img {background-color: #fff; padding: 2px; border: 5px solid #69ab00;}
#corp p a:hover img {background-color: #fff; padding: 2px; border: 5px solid #666;}
#corp .mesaj {text-align: center;}
#corp .mesaj img {display: block; margin: auto; border: none;}
#corp form {width: 400px; margin: 0 auto;}
#corp form p label {display: block; width: 150px; float: left;}
#corp form p input, #corp form p textarea {padding: 2px; width: 100%;}
#corp form p textarea {height: 200px;}

#coada {border: 1px solid #69ab00; padding: 10px; font-size: 10px;}
#coada p {padding: 1px;}
